body {
	background: rgb(245, 245, 245);
}

h3 {
	margin-top: 5px;
	margin-bottom: -1px;
}

.wrapper {
	display: grid;
	grid-template-columns: 250px 1fr;
}

.motivatorWrap {
	display: grid;
}

.box {
	border: 1px solid black;
	width: 200px;
	height: 100px;
	background: rgb(35, 39, 59);
}

.boxWrap {
	grid-gap: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	text-align: center;
}

.sideNav {
	height: 100vh; /* Full-height: remove this if you want "auto" height */
	width: 250px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
	border-right: 1px solid rgb(204, 204, 204);
}

.sideNav div {
	border-top: 1px solid rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	text-align: center;
}

.amount {
	font-size: 2rem;
	color: white;
}

.dataTitle {
	color: white;
}

.designerName {
	font-size: 1.5rem;
	cursor: default;
}

.currentDesigner {
	border-top: 1px solid rgb(201, 47, 66);
	border-bottom: 1px solid rgb(201, 47, 66);
	color: rgb(201, 47, 66);
}

.spinner {
	display: block;
	margin: 0 auto;
}

.deciLogo {
	position: absolute;
	top: 0;
	right: 5px;
}

.deciLogo a {
	color: rgb(0, 192, 239) !important;
}

.form-group {
	width: 400px;
}

.error {
	width: 400px;
}

h1 {
	display: inline;
}
